<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <p class="program"> CALFRESH & MEDI-CAL</p>
  </div>
</div>
<form name="additional_household_member" action="/application/additional_household_member" method="post" class="form col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h3>Household member information</h3>
  <div class="form-group">
    <h5 class="form-context">Please provide:</h5>
    <input type="text" class="form-control middle" name="their_name" id="their-name" placeholder="Their full name" required required data-parsley-required-message="Name is required to apply" autofocus="autofocus"\>
    <input type="text" class="form-control middle" name="their_date_of_birth" id="date_of_birth" placeholder="Date of birth">
    <input type="text" class="form-control bottom" name="their_ssn" id="their_ssn" placeholder="Social security number">
  </div>
  <div class="form-group">
    <h5 class="form-context">Choose a sex:</h5>
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <button class="btn btn-primary form-button-3" data-toggle="button">
        <input class="form-control" type="radio" name="Female" id="female">Female
      </button>
      <button class="btn btn-primary form-button-3" data-toggle="button">
        <input class="form-control" type="radio" name="Male" id="male">Male
      </button>
      <button class="btn btn-primary form-button-3" data-toggle="button">
        <input class="form-control" type="radio" name="NoAnswer" id="no-answer">No Answer
      </button>
    </div>
  </div>
  <div class="page-footer">
    <input class="btn next-step" type="submit" value="Submit and Move On">
  </div>
</form>
<script>
  $('.btn').button()
</script>