<% if @fax_result_application.successful? && @fax_result_verification_docs.successful? %>
  <h1>Great! You've applied for CalFresh in San Francisco!</h1>
  <br>
  Your application has been submitted!
<% else %>
  <h1>Great! Your application was created!</h1>
  <br>
  We didn't actually submit your application just yet...probably because this is a demo, but also possibly because something went wrong. Contact the team and let them know what happened.
<% end %>

<br><br>
<ul>
  <li>
    <a href="/applications/<%= @application.unique_key %>">Click here to view your application</a>
  </li>
  <li>
    <a href="/">Click here to start over</a>
  </li>
</ul>
