<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <h3>Get Started</h3>
  </div>
</div>
<form name="basic_info" action="/application/basic_info" method="post" class="form col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
	<div class="page-content">
		<div class="form-group">
			<input type="text" class="form-control middle" name="name" id="name" placeholder="Full name" required required data-parsley-required-message="Name is required to apply" \>
			<input type="text" class="form-control bottom" name="date_of_birth" id="date_of_birth" placeholder="Date of Birth">
		</div>
	</div>
  <div class="page-footer">
    <input class="btn next-step" type="submit" value="Next Step: Contact information">
  </div>
</form>

<script>
  $('.btn').button()
</script>
