<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <!-- <p class="logo">CLEAN</p><p class="divider">| </p> -->
    <p class="program"> CALFRESH & MEDI-CAL</p>
    <h3>Get started</h3>
  </div>
</div>
<form name="basic_info" action="/application/basic_info" method="post" class="form col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
	<div class="form-group">
    <h5 class="form-context">Please provide:</h5>
		<input type="text" class="form-control middle" name="name" id="name" placeholder="Your full name" required required data-parsley-required-message="Name is required to apply" \>
		<input type="text" class="form-control bottom" name="date_of_birth" id="date_of_birth" placeholder="Date of birth">
	</div>
  <div class="page-footer">
    <input class="btn next-step" type="submit" value="Next Step: Contact Information">
  </div>
</form>

<script>
  $('.btn').button()
</script>
