<div class="form-body">
	<section class="form-page basic-info">
		<div class="page-content col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
			<section class="form-section">
				<div class="section-intro">
					<h2 class="h3">Your Basic Information</h2>
					<p class="lead">Type your full legal name--it's required to receive benefits from CalFresh.</p>
				</div>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" name="name" id="name" placeholder="ex. Joanna Smith" required required data-parsley-required-message="Name is required to apply" \>
				</div>
				<div class="form-group">
					<label for="date_of_birth">Date of Birth</label>
					<input type="text" class="form-control" name="date_of_birth" id="date_of_birth" placeholder="ex. 1/14/82">
				</div>
				<div class="form-group">
					<label for="sex">Sex</label>
					<select class="form-control" id="sex" name="sex">
						<option>Female</option>
						<option>Male</option>
						<option>Prefer not to answer</option>
					</select>
				</div>
			</section>
		</div>
	</section>
</div>