<div class="form col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <h3>Thanks! You are all done :)</h3>
    <div class="form-group">
    	<p>The documents you provided will be reviewed alongside your application. If you didn't have all the documents today, that's ok. Try to collect them before your interview.</p>
    	<br>
    	<h4>What's next</h4>
    	<p>Someone from the SF Human Services Agency will call you within 10 days for your phone interview.</p>
    	<p>If you don't receive a call soon, you can call the County at (415) 558-1001, and say you need a phone interview for your CalFresh application.</p>
        <br>
        <h4>Remember your rights</h4>
        <ul>
            <li>You can have an interpreter during the interview if you want one.</li>
            <li>You can get special help with the interview or application process if you are disabled or homeless.</li>
            <li>You can let someone else you trust use your CalFresh benefits or help with your case by making them your Authorized Representative.</li>
            <li>If you disagree with the decision for your application, you can file a State hearing by calling (800) 952-5253.</li>
            <li>If you have been treated unfairly you can call the California Civil Rights Bureau at (866) 741-6241 and tell them what happened.</li>
        </ul>
        <p>Please email <a href="mailto:health-lab@codeforamerica.org?subject=Clean Feedback">health-lab@codeforamerica.org</a> if you have any questions or feedback about this online application tool. We don't work for the County so we won't be able to answer any questions about your case.</p>
    </div>
	<div class="page-footer">
		<a href="/" class="btn btn-primary form-button-link-solo">Start a new application</a>
	</div>
</div>