<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <p class="program"> CALFRESH & MEDI-CAL</p>
  </div>
</div>
<form name="confirmation" action="/application/confirmation" method="post" class="form col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
	<h3>You're application has been submitted!</h3>
	<div class="form-group">
		<h4>What's next from us</h4>
		<p>Staff from HSA will call you within 10 days for your phone interview.</p>
		<p>If you don't receive a call soon, contact HSA at (415) 558-1001, and say you need a phone interview to finalize your application.</p>
		<br>
		<h4>What you can do now</h4>
		<p>Gather documents about your income, living expenses, and identification. You'll need to provide these to be approved for Calfresh. Valid documents include:
		<ul>
			<li>Driver's licenses and passports</li>
			<li>Bank statements</li>
			<li>Lease agreements</li>
			<li>Utility bills</li>
			<li>Written and signed statements</li>
		</ul>
		<p>You'll need to provide government ID for each person you cook and prepare food with, as well.</p>
	</div>
	<div class="page-footer">
		<h4>Do you already have documents on hand?</h4>
		<p>If you have already gathered documents about your income, expenses and identification, please upload photos of them now.<p>
		<a href="/first_id_doc" class="btn btn-primary form-button-link-left" autofocus="autofocus">Yes</a>
		<a href="/complete" class="btn btn-primary form-button-link-right">No</a>
	</div>
</form>