<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <p class="program"> CALFRESH & MEDI-CAL</p>
    <h3>Confirmation</h3>
  </div>
</div>
<form name="confirmation" action="/application/confirmation" method="post" class="form col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
		<h3>Congratulations!</h3>
		<p>Your application has been submitted.</p>
		<p>Someone from HSA will call you within 10 days for your phone interview.</p>
		<p>If you don't hear from them soon, please call them at XXX-XXX-XXXX, and say you need a phone interview to finalize your application.</p>
		<p>During your interview, you'll need information about:</p>
		<ul>
			<li>Income</li>
			<li>Assets</li>
			<li>Expenses</li>
		</ul>
		<p>If you have documentation about your income, assets, expenses, you can upload them now.</p>
  <div class="page-footer">
    <h5 class="footer-question">Do you have any verification docs on hand?</h5>
    <p>Here is copy explaining the concept of verification documents.<p>
      <a href="/first_income_doc" class="btn btn-primary form-button-link-left" autofocus="autofocus">Yes</a>
      <a href="/complete" class="btn btn-primary form-button-link-right">No</a>
    </div>
  </div>
</form>