<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <h3>Confirmation</h3>
  </div>
</div>
<form name="confirmation" action="/application/confirmation" method="post" class="form col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
		<h3>Congratulations!</h3>
		<p>Your application has been submitted.</p>
		<p>Someone from HSA will call you within 10 days for your phone interview.</p>
		<p>If you don't hear from them soon, please call them at XXX-XXX-XXXX, and say you need a phone interview to finalize your application.</p>
		<p>During your interview, you'll need information about:</p>
		<ul>
			<li>Income</li>
			<li>Assets</li>
			<li>Expenses</li>
		</ul>
		<p>If you have documentation about your income, assets, expenses, you can upload them now.</p>
		<h5>Would you like a reminder about your interview? Check yes, and we will send you a text message reminder.</h5>
  <div class="page-footer">
    <h5 class="footer-question">Do you have any verification docs on hand?</h5>
<!--       <a class="btn alternate-step" href="<%= url('/first_id_doc') %>">
     	<h5>Yes, I have docs to uplaod</h5></a>
     	<h5 class="or">or</h5>
      <a class="btn next-step" href="<%= url('/application/basic_info') %>">
     	<h5>No, I'm done for today.</h5></a> -->
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-primary form-button active">
        <input type="radio" name="additional_household_member" id="yes" checked> Yes
      </label>
      <label class="btn btn-primary form-button">
        <input type="radio" name="review_and_submit" id="no"> No
      </label>
    </div>
  </div>
</form>