<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <p class="program"> CALFRESH & MEDI-CAL</p>
  </div>
</div>
<form name="first_other_doc" action="/first_other_doc" method="post" enctype="multipart/form-data" class="form col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h3>Do you have other documents you'd like to provide?</h3>
  <div class="form-group">
    <p>You may need to share other documents about your residency, financial or citizenship status. Potentially useful or required ocuments include:
      <ul>
        <li>Income: alimony or child support income</li>
        <li>Income: financial aid</li>
        <li>Immigration: I-94</li>
        <li>Expenses: medical bills</li>
        <li>Expenses: child care reciepts</li>
      </ul>
    </p>
    <p>If you don't have any of these documents on hand, that's ok. Skip this step for now, and try to locate the documents you need to provide in advance of your interview.</p>
  </div>
  <div class="form-group file-group">
    <label for="other">Upload Document</label>
    <input type="file" name="other" autofocus="autofocus"></input>
  </div>
  <h5 class="or" style="text-align:center">or</h5>
  <a class="btn skip form-button-link-solo" href="/complete">Nope! I'm done.</a>
  <div class="page-footer" style="display:none">
    <input class="btn next-step" type="submit" value="Submit Document">
  </div>
</form>
<script>
  $('.btn').button();
  $(function() {
     $("input:file").change(function () {
       $(".page-footer").removeAttr("style");
       $(".or").hide();
       $(".skip").hide();
     });
  });
</script>
