<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <p class="program"> CALFRESH & MEDI-CAL</p>
  </div>
</div>
<form name="first_id_doc" action="/first_id_doc" method="post" class="form col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h3>If you have one, upload a photo of your government ID.</h3>
  <div class="form-group">
    <p>Every Calfresh applicant needs to provide a government ID. Acceptable identification includes:
      <ul>
        <li>A driver's license or state identification card</li>
        <li>A U.S. passport</li>
        <li>Voter registration card</li>
        <li>Birth certificate or social security card</li>
      </ul>
    </p>
    <p>If you don't have a government ID on hand, that's ok. Skip this step for now, and try to locate your ID in advance of your interview.</p>
  </div>
  <div class="form-group file-group">
    <label for="identification">Upload Document</label>
    <input type="file" name="identification" autofocus="autofocus"></input>
  </div>
  <h5 class="or" style="text-align:center">or</h5>
  <a class="btn skip form-button-link-solo" href="/first_income_doc">Skip</a>
  <div class="page-footer" style="display:none">
    <input class="btn next-step" type="submit" value="Submit">
  </div>
</form>
<script>
  $('.btn').button();
  $(function() {
     $("input:file").change(function () {
       $(".page-footer").removeAttr("style");
       $(".or").hide();
       $(".skip").hide();
     });
  });
</script>