<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <h3>Do you cook or prepare food with anyone?</h3>
  </div>
</div>
<form name="household_question" action="/application/household_question" method="post" class="form col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <div class="form-control subheader">
    <p>Here is copy explaining the concept of a household<p>
  </div>
  <div class="page-footer">
<!--     <a class="btn alternate-step" href="<%= url('/application/additional_household_member') %>">
    	<h5>Yes</h5>
    </a>
    <a class="btn next-step" href="<%= url('/application/review_and_submit') %>">
   		<h5>No!</h5>
   	</a> -->
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-primary form-button active">
        <input type="radio" name="medical_interest" id="yes" checked> Yes
      </label>
      <label class="btn btn-primary form-button">
        <input type="radio" name="medical_interest" id="no"> No
      </label>
    </div>
  </div>
</form>