<h1>Apply to CalFresh (food assistance) in San Francisco</h1>
<br>
<br>
<form name="apply" action="applications" method="post">
Name: <input type="text" name="name"><br>
Address: <input type="text" name="home_address"><br>
City: San Francisco, CA<br>
<input type="hidden" name="home_city" value="San Francisco">
<input type="hidden" name="home_state" value="CA">
Zip Code: <input type="text" name="home_zip_code"><br>
<br><br>
(Optional)<br>
Phone Number: <input type="text" name="home_phone_number"><br>
Email: <input type="text" name="email"><br>
<br>
<br>
Sign Here:
<br>
<br>
<input type="submit" value="Apply!">
</form>
