<h1>Apply for CalFresh in San Francisco</h1>
<hr>
<form role="form" name="apply" action="applications" method="post">
  <div class="form-group">
    <label for="name">Full name</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="John Smith">
      <span class="help-block">Include your full legal name.</span>
  </div>
  
  <div class="form-group">
    <label for="home_address">Address</label>
      <input type="text" class="form-control" name="home_address" placeholder="1234 Fake Street">
      <div class="input-group">
        <span class="input-group-addon">San Francisco, CA</span>
        <input type="text" class="form-control" name="home_zip_code" placeholder="941...">
      </div>
      <span class="help-block">You have to live in San Francisco to get CalFresh.</span>
  </div>
  
  <!-- City: San Francisco, State: CA -->
  <input type="hidden" class="form-control" name="home_city" value="San Francisco">
  <input type="hidden" class="form-control" name="home_state" value="CA">
  
  <div class="form-group">
    <label for="home_phone_number">Phone number</label>
      <input type="text" class="form-control" name="home_phone_number" placeholder="(415) 555-5555">
  </div>
  
  <div class="form-group">
    <label for="email">Email</label>
      <input type="text" class="form-control" name="email" placeholder="john.smith@gmail.com">
      <span class="help-block">You don't have to include your phone number or email address, but it will help us get in touch with you.</span>
  </div>

  <div class="form-group">
    <label for="signature">Signature</label>
      <div id="signature_area" class="panel"></div>
      <div id="signature_value_hidden"></div>
      <span class="help-block">Sign on the line. You can sign with your mouse or your finger if you're using a touch screen.</span>
  </div>
  
    <div class="form-group">
        <button type="submit" id="submit_button" class="btn btn-default">Submit your CalFresh application!</button>
    </div>
</form>
