<div class="masthead-page">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel-body application-overview">
      <div class="application-identity">
        <small>This is the application of</small>
        <h4>Applicant name</h4>
        <p>Today's date</p>
      </div>
      <div class="application-steps">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="circle"></div>
            <small>Basic information</small>
          </li>
          <li class="list-group-item">
            <div class="circle"></div>
            <small>Contact information</small>
          </li>
          <li class="list-group-item">
            <div class="circle"></div>
            <small>Schedule your interview</small>
          </li>
          <li class="list-group-item">
            <div class="circle"></div>
            <small>Submit your application</small>
          </li>
          <li class="list-group-item">
            <div class="circle"></div>
            <small>Upload documentation</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="form-body">
  <section class="form-page interview">
    <div class="page-content col-md-4 col-md-offset-4">
      <section class="form-section">
        <div class="form-control header top">
          <h4>Schedule your interview</h4>
        </div>
        <div class="form-control subheader">
          <p>When would you prefer to be contact to have your interview? We will do our best to contact you during the specified times and days.</p>
        </div>
        <div class="form-group col-md-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="early-morning"> Early Morning
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="early-afternoon"> Early Afternoon
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="early-afternoon"> Late Afternoon
            </label>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="monday"> Monday
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="tuesday"> Tuesday
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="wednesday"> Wednesday
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="thursday"> Thursday
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="friday"> Friday
            </label>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
<div class="page-footer">
  <div class="footer-content col-md-4 col-md-offset-4">
    <button class="btn next-step"></button>
  </div>
</div>