<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <p class="program"> CALFRESH & MEDI-CAL</p>
  </div>
</div>
<form name="interview" action="/application/interview" method="post" class="form col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h3>When do you prefer your interview?</h3>
  <div class="form-group">
    <div class="form-control subheader">
      <p>To enroll in Calfresh, you'll need to be interviewed. During the interview, a Human Services Agency staff will ask you personal questions about your income and expenses.</p>
      <p>When would you prefer to be contacted to have your interview? Staff will do their best to contact you during the specified times and days.</p>
    </div>
    <div class="form-control times-of-day middle">
      <div class="checkbox time-of-day">
        <label>
          <input type="checkbox" name="early-morning" autofocus="autofocus"> Early morning
        </label>
      </div>
      <div class="checkbox time-of-day">
        <label>
          <input type="checkbox" name="early-afternoon"> Early afternoon
        </label>
      </div>
      <div class="checkbox time-of-day">
        <label>
          <input type="checkbox" name="early-afternoon"> Late afternoon
        </label>
      </div>
    </div>
    <div class="form-control bottom days-of-week">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="monday"> Mon
        </label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" class="day-of-week" name="tuesday"> Tue</label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="wednesday"> Wed
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="thursday"> Thu
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="friday"> Fri
        </label>
      </div>
    </div>
  </div>
  <div class="page-footer">
      <input class="btn next-step" type="submit" value="Next Step: Preparing Food with Others">
  </div>
</form>