<div class="masthead-page">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <h1>Apply for CalFresh in San Francisco</h1>
    <br>
    <p class="lead">With some basic personal information, a few photos of important documents, and your signature, you can apply for food benefits. If you are eligible for CalFresh, you are likely eligible for the Medi-Cal health insurance program as well.</p>
  </div>
</div>
<div class="form-body">
  <section class="form-page interview">
    <div class="page-content col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <section class="form-section">
        <div class="section-intro">
          <h2 class="h3">Schedule your interview</h2>
          <p class="lead">When would you prefer to be contact to have your interview? We will do our best to contact you during the specified times and days.</p>
        </div>
        <div class="form-group col-md-6">
          <label for="early-morning">Early morning</label>
          <input type="checkbox" class="form-control" name="early-morning">
          <label for="early-morning">Early afternoon</label>
          <input type="checkbox" class="form-control" name="early-morning">
          <label for="early-morning">Late afernoon</label>
          <input type="checkbox" class="form-control" name="early-morning">
        </div>
        <div class="form-group col-md-6">
          <label for="monday">Monday</label>
          <input type="checkbox" class="form-control" name="monday">
          <label for="tuesday">Tuesday</label>
          <input type="checkbox" class="form-control" name="tuesday">
          <label for="wednesday">Wednesday</label>
          <input type="checkbox" class="form-control" name="wednesday">
          <label for="thursday">Thursday</label>
          <input type="checkbox" class="form-control" name="thursday">
          <label for="friday">Friday</label>
          <input type="checkbox" class="form-control" name="friday">
        </div>
      </section>
    </div>
  </section>
</div>