<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <h3>Would you like to apply for Medi-cal?</h3>
  </div>
</div>
<form name="medical" action="/application/medical" method="post" class="form col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <div class="form-group">
    <div class="form-control subheader">
      <p>Medi-cal is a subsidized health insurance benefit.</p>
    </div>
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-primary form-button">
        <input type="radio" name="medical_interest" id="yes"> Yes
      </label>
      <label class="btn btn-primary form-button">
        <input type="radio" name="medical_interest" id="no"> No
      </label>
    </div>
  </div>
  <div class="page-footer">
    <input class="btn next-step" type="submit" value="Next Step">
  </div>
</form>
<script>
  $('.btn').button()
</script>