<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <p class="program"> CALFRESH & MEDI-CAL</p>
  </div>
</div>
<form name="next_id_doc" action="/next_id_doc" method="post" enctype="multipart/form-data" class="form col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h3>Do you have other IDs for you or those you cook or prepare food with?</h3>
  <div class="form-group">
    <p>Every Calfresh applicant needs to provide at least one government ID.
    <b>You should also share ID for each individual you cook and prepare food with.</b> Acceptable identification includes:
      <ul>
        <li>A driver's license or state identification card</li>
        <li>School records</li>
        <li>A U.S. passport</li>
        <li>Voter registration card</li>
        <li>Birth certificate or social security card</li>
      </ul>
    </p>
    <p>If you don't need to share any other ID, or don't have the required ID on hand, that's ok. Skip this step for now, and try to locate the relevant documents in advance of your interview.</p>
  </div>
  <div class="form-group file-group">
    <label for="identification">Upload Document</label>
    <input type="file" name="identification" autofocus="autofocus"></input>
  </div>
  <h5 class="or" style="text-align:center">or</h5>
  <a class="btn skip form-button-link-solo" href="/first_income_doc">Skip</a>
  <div class="page-footer" style="display:none">
    <input class="btn next-step" type="submit" value="Submit">
  </div>
</form>
<script>
  $('.btn').button();
  $(function() {
     $("input:file").change(function () {
       $(".page-footer").removeAttr("style");
       $(".or").hide();
       $(".skip").hide();
     });
  });
</script>
