<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <h3>Do you have any Identification documents?</h3>
  </div>
</div>
<form name="next_id_doc" action="/next_id_doc" method="post" class="form col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <div class="form-group">
    <p>Upload a photo of documents. The copy here should be generic and inclusive of all income, expense, and identification documents. I am going to keep typing because there will likely be a entire paragraph of help copy and thus these words help the layout feel more like it actually will in the future.</p>
  </div>
  <div class="form-group file-group">
    <label for="identification">Upload Document</label>
    <input type="file"></input>
  </div>
  <h5 class="or" style="text-align:center">or</h5>
  <input class="btn skip" type="submit" value="Skip">
  <div class="page-footer" style="display:none">
    <h5 class="footer-question">Do you have any more ID documents to upload?</h5>
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-primary form-button">
        <input type="radio" name="next_id_doc" id="yes"> Yes
      </label>
      <label class="btn btn-primary form-button">
        <input type="radio" name="first_income_doc" id="no"> No
      </label>
    </div>
    <input class="btn next-step" type="submit" value="Submit">
  </div>
</form>
<script>
  $('.btn').button()
  $(function() {
     $("input:file").change(function () {
       $(".page-footer").removeAttr("style");
       $(".or").hide();
       $(".skip").hide();
     });
  });
</script>