<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <p class="program"> CALFRESH & MEDI-CAL</p>
    <h3>Do you have any other documents?</h3>
  </div>
</div>
<form name="next_other_doc" action="/next_other_doc" method="post" class="form col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <div class="form-group">
    <p>Upload a photo of documents. The copy here should be generic and inclusive of all income, expense, and identification documents. I am going to keep typing because there will likely be a entire paragraph of help copy and thus these words help the layout feel more like it actually will in the future.</p>
  </div>
  <div class="form-group file-group">
    <label for="identification">Upload Document</label>
    <input type="file" autofocus="autofocus"></input>
  </div>
  <h5 class="or" style="text-align:center">or</h5>
  <a class="btn skip form-button-link-solo" href="/complete">Skip</a>
  <div class="page-footer" style="display:none">
    <input class="btn next-step" type="submit" value="Submit">
  </div>
</form>
<script>
  $(function() {
     $("input:file").change(function () {
       $(".page-footer").removeAttr("style");
       $(".or").hide();
       $(".skip").hide();
     });
  });
</script>
<script>
  $('.btn').button();
</script>