<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <p class="program"> CALFRESH & MEDI-CAL</p>
  </div>
</div>
<form name="review_and_submit" id="review_and_submit" action="/application/review_and_submit" method="post" class="form col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" data-parsley-validate>
  <h3>Confirm and Submit</h3>
  <div class="form-group">
    <p><b>You'll need to read the following carefully, and then sign your name. It's important that you understand everything you agree to by signing and submitting this application for Calfresh.</b></p>
    <br>
    <p>I understand that by signing this application under penalty of perjury (making false statements), that:</p>
    <ul>
      <li><p>I read, or had read to me, the information in this application and my answers to the questions in this application.</p></li>
      <li><p>My answers to the questions are true and complete to the best of my knowledge.</p></li>
      <li><p>Any answers I may give for my application process will be true and complete to the best of my knowledge.</p></li>
      <li><p>I read or had read to me and I understand and agree to the Rights and Responsibilities (Program Rules Page 1) for the CalFresh Program.</p></li>
      <li><p>I read, or had read to me, the CalFresh Program Rules and Penalties (Program Rules Pages 2 through 3).</p></li>
      <li><p>I understand that giving false or misleading statements or misrepresenting, hiding or withholding facts to establish eligibility for CalFresh is fraud. Fraud can cause a criminal case to be filed against me and/or I may be barred for a period of time (or life) from getting CalFresh benefits.</p></li>
      <li><p>I understand that Social Security Numbers or immigration status for household members applying for benefits may be shared with the appropriate government agencies as required by federal law.</p></li>
    </ul>
  </div>
  <div class="form-group">
    <p class="form-context">You can learn more about participation in the Calfresh program here:</p>
    <a href="https://github.com/codeforamerica/calfresh-and-so-clean/wiki/Rights-and-Responsibilities" target="_blank">Rights and Responsibilities</a>
    <br>
    <a href="https://github.com/codeforamerica/calfresh-and-so-clean/wiki/CalFresh-Program-Rules-and-Penalties" target="_blank">Calfresh Programs Rules & Penalties</a>
  </div>
  <div class="form-group">
    <br>
    <p><b>Sign on the line. You can sign with your mouse or your finger if you're using a touch screen.</b></p>
    <div id="signature_area" class="panel"></div>
    <div id="signature_value_hidden"></div>
    <div class="btn btn-primary form-button-link-solo" id="signature_clear_button">Clear Signature</div>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <p>
        <input type="checkbox" name="confirmation" id="confirmation" required data-parsley-required-message="Click the box above to confirm that you have read and are okay with how we are submitting your application (described above)." \><b>Check this box to confirm your intent to submit your CalFresh application.</b>
            By clicking this box, you confirm your intent to submit this application to receive benefits from CalFresh. This web tool will take the information you have provided, and transcribe it onto an official CalFresh application form. That form, along with any documents you upload, will then automatically be faxed to the City of San Francisco Human Services Administration.
      </p>
      <label></label>
    </div>
  </div>
  <p><b>After you submit, you'll have the chance to provide documents regarding you identification, income, expenses and other relevant information.</b></p>
  <div class="page-footer">
      <input class="btn next-step" id="submit_button" type="submit" value="Submit Application">
  </div>
</form>
<script>
  $('.btn').button();
  $(function() {
     $("#submit_button").click(function() {
      if ($( '#review_and_submit' ).parsley().isValid()) {
        $(this).attr("disabled", "disabled");
        $(this).css({
            color: '#333',
            'background-color': '#e1e0dc',
            border: '1px solid #d3d3d3',
            cursor: 'auto'
        });
        $(this).addClass("disabled in-progress");
        $(this).val('Submitting...')
        $(this).blur();
      } else {}
     });
  });
</script>