<div class="masthead">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  	<p class="program"> CALFRESH & MEDI-CAL</p>
    <h3>Personal information</h3>
  </div>
</div>
<form name="sex_and_ssn" action="/application/sex_and_ssn" method="post" class="form col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
	<div class="form-group">
		<input type="text" class="form-control bottom" name="ssn" id="ssn" placeholder="Your social security number" autofocus="autofocus">
	</div>
	<div class="form-group">
    <h5>Choose a sex</h5>
		<div class="btn-group btn-group-justified" data-toggle="buttons">
		  <label class="btn btn-primary form-button" data-toggle="button">
		    <input class="form-control" type="radio" name="Male" id="female">Female
		  </label>
		  <label class="btn btn-primary form-button" data-toggle="button">
		    <input class="form-control" type="radio" name="Female" id="male">Male
		  </label>
		  <label class="btn btn-primary form-button" data-toggle="button">
		    <input class="form-control" type="radio" name="NoAnswer" id="no-answer">No Answer
		  </label>
		</div>
	</div>
  <div class="page-footer">
  	<div class="footer-content">
        <input class="btn next-step" type="submit" value="Next Step: Include Medi-Cal">
  	</div>
  </div>
</form>
<script>
  $('.btn').button()
</script>
