<form action="/application/start" method="post" class="form col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 m-page scene_element scene_element--fadeinup">
  <h3>Before we get started, there are a few things you should know about CalFresh</h3>
  <p>
    <ul>
      <li>The County only needs your name, address, and signature to start your CalFresh application. The rest is optional.</li>
      <li>You have the right to be treated with fairly and with respect. The County cannot discriminate against you. If you think you have been treated unfairly, please call the California Civil Rights Bureau at (866) 741-6241 and tell them what happened. This is important to make CalFresh better for everyone.</li>
      <li>In order to get CalFresh you will need to provide ID like a drivers license, proof that you live in San Francisco, a valid social security number, and proof of your income if you have any. You do not need to have all of this right now.</li>
      <li>This application is a legal document, so please tell the truth!</li>
    </ul>
  </p>

  <p><a href="https://github.com/codeforamerica/calfresh-and-so-clean/wiki/Important-Information-about-CalFresh" target="_blank">Click here</a> to see more information about CalFresh, including all of the <a href="https://github.com/codeforamerica/calfresh-and-so-clean/wiki/Important-Information-about-CalFresh#program-rules-and-penalties" target="_blank">Program Rules and Penalties</a> and your full <a href="https://github.com/codeforamerica/calfresh-and-so-clean/wiki/Important-Information-about-CalFresh#your-rights-and-responsibilities" target="_blank">Rights and Responsibilities</a>.
  </p>
  <div class="page-footer">
    <input class="btn next-step" type="submit" value="Got it! Start My CalFresh Application">
  </div>
</form>

<script>
  $('.btn').button()
</script>