
/* C A L F R E S H    A N D   S O   C L E A N */
/* Calfres-and-so-clean is meant to be a dead simple form for SNAP applicant */
/* These styles are overrides and modifications on top of Bootsrap 3 */
/* If you want to suggest an improvement to these styles, please visit: */
/* https://github.com/codeforamerica/calfresh-and-so-clean/issues */

/* G L O B A L S */

/* in each context, redefine the equal height and width of the circle */
.circle {
	border-radius: 50%;
}

/* Calfresh blue: #00618D; */
/* alternates */
/* darker #00618D*/
/* mid #BAD2DF*/
/* light #DFE9EE */


/* T H E    M A S T H E A D  */
/* Masthead content sticks to the top of each view, and presents metadata about the application */

.masthead-page {
	display: inline-block;
	width: 100%;
	height: auto;
	padding: 2em 0;
	/* Blue background color */
	background-color: #00618D;
}

.masthead-page h1 {
	/* Offwhite color */
	color: #f1f1f1;
}

.masthead-page .lead {
	color: #f1f1f1;
}

.masthead-page .panel-default {

}

.application-overview {
	padding: 0;
	background-color: white;
	border-radius: 4px;
	border: 2px solid #00618D;
}

.application-identity {
	display: inline-block;
	float: left;
	width: auto;
	min-width: 48%
	vertical-align: top;
	padding: 15px;
}
.application-steps {
	display: inline-block;
	float: right;
	width: auto;
	min-width: 48%
}

.application-steps ul {
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.application-steps ul li {
	padding: .5em 1em;
}

.application-steps ul li:first-child {
	border-top-left-radius: 0;
}

.application-steps ul li:last-child {
	border-bottom-left-radius: 0;
}

.application-steps .circle {
	display: inline-block;
	background-color: #00618D;
	height: 10px;
	width: 10px;
	margin-right: 1em;
}

.application-steps small {
	display: inline-block;
	margin: 0;
}

/* F O R M   S T Y L E S */

.form-body {
	display: inline-block;
	width: 100%;
	padding: 2em 0;
}

.form-page {
	display: inline-block;
	width: 100%;
}

.page-content {
	padding-bottom: 1em;
}

.form-section {
	padding: 1em 0;
}

.section-intro {
	padding: .5em 0;
}

.section-lead {
	font-weight: 200;
	line-height: 1.4;
	font-size: ;
}

.form-group {}

/* form-controls, by position in a stack. */
/* There can only be one top and one bottom, but there can be many middles.*/
.top {
	height: 4em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.middle {
	height: 4em;
	border-radius: 0;
	border-top: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.bottom {
	height: 4em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* F O R M   B U T T O N / T O G G L E */

.form-button {
	color: white;
	height: 3em;
	border: 1px solid white;
	background-color: #00618D;
}

/* F O O T E R    S T Y L E S */

.page-footer {
	display: inline-block;
	width: 100%;
	border-top: 1px solid gray;
	padding: 2em 0 1.5em 0;
}

.next-step {
	width: 100%;
	height: 4em;
	border::1px solid black;
	border-radius: 4px;
}
