
/* C A L F R E S H    A N D   S O   C L E A N */
/* Calfres-and-so-clean is meant to be a dead simple form for SNAP applicant */
/* These styles are overrides and modifications on top of Bootsrap 3 */
/* If you want to suggest an improvement to these styles, please visit: */
/* https://github.com/codeforamerica/calfresh-and-so-clean/issues */


/* C O L O R S */

/* San Francisco Red Orange: #CF6354
/* Government blue: #2E394B*/
/* Government bright gray type for header: BAC2CC*/
/* Government gray type on blue: 929AA5*/
/* Calfresh blue: #00618D; */
/* alternates */
/* darker #00618D*/
/* mid #BAD2DF*/
/* light #DFE9EE */


/* G L O B A L S */

/* in each context, redefine the equal height and width of the circle */
.circle {
	border-radius: 50%;
}


body {
	margin: 0;
	background: #929AA5;
	width: 100%;
	height: 100%;
}

#main {
	background: #f6f6f6;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 5px #888;
	overflow: auto;
}

/* M E D I A    Q U E R I E S */
@media (min-device-width : 320px) {
	#main {
		margin: 0;
		background: #fff;
	}
}

/* iPads (portrait and landscape) ----------- */
@media (min-device-width : 768px) {
	#main {
		margin: 24px;
	}
}

@media (min-width : 1224px) {
	#main {
		margin: 24px;
	}
}


/* T H E    M A S T H E A D  */
/* Masthead content sticks to the top of each view, and presents metadata about the application */

.masthead {
	display: inline-block;
	width: 100%;
	height: auto;
	padding: .5em 0;
	/* Blue background color */
	background-color: #2E394B;
}

.masthead h3 {
	/* Offwhite color */
	color: #f6f6f6;
}


/* F O R M   S T Y L E S */

.form-body {
	display: inline-block;
	width: 100%;
}

.form-page {
	display: inline-block;
	width: 100%;
}

.page-content {
	padding-bottom: 1em;
}

.form-section {
	padding: 1em 0;
}

.section-intro {
	padding: .5em 0;
}

.section-lead {
	font-weight: 200;
	line-height: 1.4;
	font-size: ;
}

.form-group {}

/* form-controls, by position in a stack. */
/* There can only be one top and one bottom, but there can be many middles.*/

.solo {
	height: 4em;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.header {
	background-color: #929AA5;
}

.form-control h4 {
	color: #fff;
}

/* For now, subheader is exclusive. It shouldn't be mixed with top/middle/bottom */
/* It takes properties from middle, assuming a header above and content below */
/* The change is that the heigh is dynamic based on content */
.subheader {
	height: auto;
	min-height: 4em;
	border-radius: 0;
	border-top: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.subheader p {
	margin: 10px 20px;
}

.top {
	height: 4em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.middle {
	height: auto;
	min-height: 4em;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.bottom {
	height: auto;
	min-height: 4em;
	border-left: none;
	border-right: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.dropdown {
	height: 4em;
}

.checkbox {
	display: inline-block;
}

.times-of-day {}
.time-of-day {
	margin-left: 20px;
	display: inline-block;
}

.days-of-week .checkbox input[type=checkbox] {
	float: none;
	margin-left: 0;
	padding-right: 20px;
}

/* F O R M   B U T T O N / T O G G L E */

.btn-primary {
	height: 4em;
	color: #555;
	text-shadow: none;
	background-color: white;
/*	background-color: #5C93D6;*/
	border-color: #ccc;
	opacity: .85;
}

.btn-primary:hover {
	background-color: #5C93D6;
	border-color: #5C93D6;
}

.btn-primary:active, .btn-primary.active {
	background-color: #1D71F5;
	border-color: #1D71F5;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
	opacity: .85;
}

.form-button {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-image: none;
	border-radius: 0;
}

.form-button:hover {
}

/* F O R M   L I S T S */

/* Sie by side lists, found on the interview.html */
/* We want two columns, taking up the entire width of
the content column, so we override bootstrap.*/
.left-list {
	padding-left: 0;
	padding-right: 0;
}
.right-list {
	padding-left: 0;
	padding-right: 0;
}

.list-context {
	height: ;
}


/* F O O T E R    S T Y L E S */

.page-footer {
	display: inline-block;
	width: 100%;
	padding: 0;
}

.next-step {
	width: 100%;
	height: 4em;
	color: #fff;
	background-color: #5C93D6;
	border-radius: 0;
	margin: 10px 0;
}

.next-step:hover {
	color: #fff;
	background-color: #1D71F5;
}

.next-step:focus {
	color: #fff;
	background-color: #1D71F5;
}

.page-footer .or {
	text-align: center;
}

.alternate-step {
	width: 100%;
	height: 4em;
	color: #929AA5;
	background-color: #5C93D6;
	border-radius: 4px;
	margin: 10px 0;
}

.alternate-step h5 {
	color: white;
	margin: 1em 0;
}

.alternate-step h5:hover {
	color: #f6f6f6;
}


.submit-btn {
	width: 100%;
	height: 4em;
	color: #929AA5;
	background-color: #1D71F5;
	border-radius: 4px;
	margin: 10px 0;
}

.submit-btn h5 {
	color: white;
	margin: 1em 0;
}

/* When there is more than once choice of next step */
