<div class="row assister-info">
	<div class="col-xs-12">
		<a class="btn form-button print-button" href="mailto:?body=http://application/confirmation&subject=Congratulations! You applied for CalFresh">Email this reciept</a></p>
	</div>
</div>