<div class="row assister-info print-hidden">
	<div class="col-xs-12">
		<p class="form-context">When you print this page, there will be a place for your assister to write their name and contact information.</p>
		<a href="javascript:window.print()" class="btn form-button print-button">Print this reciept</a>
	</div>
</div>