<form name="basic_info" action="/application/basic_info" method="post" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 m-page scene_element scene_element--fadeinup" data-parsley-validate>
  <h2 class="page-header">Basic information</h2>
	<div class="form-group">
    <label for="name" class="form-label">Your full name</label>
		<input type="text" class="form-control" name="name" id="name" required required data-parsley-required-message="Name is required to apply" autofocus="autofocus">
    <label for="home_address" class="form-label">Street address</label>
    <p class="form-context">in San Francisco, CA</p>
    <input id="home_address" type="text" class="form-control" name="home_address" required required data-parsley-required-message="Address is required to apply" \>
    <label for="home_zip_code" class="form-label">ZIP code</label>
    <input id="home_zip_code" type="tel" class="form-control short" name="home_zip_code" required required data-parsley-required-message="ZIP code is required to apply">
    <input type="hidden" class="form-control" name="home_city" value="San Francisco">
    <input type="hidden" class="form-control" name="home_state" value="CA">
	</div>
  <div class="page-footer">
    <input class="btn next-step" type="submit" value="Next Step">
  </div>
</form>

<script>
  $('.btn').button()
</script>