<form name="basic_info" action="/application/basic_info" method="post" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 m-page scene_element scene_element--fadeinup" data-parsley-validate>
  <h2 class="page-header">Basic information</h2>
	<div class="form-group">
    <label for="name" class="form-label">Your full name</label>
		<input type="text" class="form-control" name="name" id="name" required required data-parsley-required-message="Provide your full name to get started!" autofocus="autofocus">
  </div>
  <div class="form-group">
    <label for="home_address" class="form-label">Your street address</label>
    <p class="form-context">Confirm that you live in San Francisco, and let HSA know where to mail you important information about your benefits.</p>
    <input id="home_address" type="text" class="form-control" name="home_address" required required data-parsley-required-message="Confirm that you live in San Francisco by providing your street address." \>
    <label for="home_zip_code" class="form-label">ZIP code</label>
    <input id="home_zip_code" type="tel" class="form-control short" name="home_zip_code" required required data-parsley-required-message="We need your ZIP code too!">
    <input type="hidden" class="form-control" name="home_city" value="San Francisco">
    <input type="hidden" class="form-control" name="home_state" value="CA">
	</div>
  <div class="page-footer">
    <div class="page-footer-content col-md-4 col-md-offset-8">
      <input class="btn next-step" type="submit" value="Next Step">
    </div>
  </div>
</form>

<script>
  $('.btn').button()
</script>