<div class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <h2 class="page-header">Thanks! You are all done :)</h2>
    <p class="page-context">The documents you provided will be reviewed alongside your application. If you didn't have all the documents today, that's ok. Try to collect them before your interview.</p>
	<br>
	<p class="form-label">Here's what's next</p>
	<p class="page-context">Someone from the SF Human Services Agency will call you within 10 days for your phone interview. If you don't receive a call soon, you can call HSA at <b>(415) 558-1001</b>, and say you need a phone interview for your CalFresh application.</p>
    <br>
    <p class="form-label">Remember your rights</p>
    <ul class="list">
        <li class="list-item">You can have an interpreter during the interview if you want one.</li>
        <li class="list-item">You can get special help with the interview or application process if you are disabled or homeless.</li>
        <li class="list-item">You can let someone else you trust use your CalFresh benefits or help with your case by making them your Authorized Representative.</li>
        <li class="list-item">If you disagree with the decision for your application, you can file a State hearing by calling (800) 952-5253.</li>
        <li class="list-item">If you have been treated unfairly you can call the California Civil Rights Bureau at (866) 741-6241 and tell them what happened.</li>
    </ul>
    <p class="page-context">Please email <a href="mailto:health-lab@codeforamerica.org?subject=Clean Feedback">health-lab@codeforamerica.org</a> if you have any questions or feedback about this online application tool. However&mdash;we don't work for the County of San Francisco, so we won't be able to answer any questions about your case.</p>
	<div class="page-footer">
		<a href="/" class="btn btn-primary form-button-link-solo">Start a new application</a>
	</div>
</div>