<form name="confirmation" action="/application/confirmation" method="post" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
	<%= render :partial => "print_this" %>
	<h2 class="page-header">You have applied for CalFresh</h2>
	<p class="page-context">There are a a few more steps before you can receive and use your benefits. Stay in touch with your assister&mdash;they can help you through the rest of the process.</p>
	<p class="homepage-subheader" style="text-align:center">Here's whats next</p>
	  <div class="row steps-to-enroll" style="margin-top: 0; padding-top: 0;">
	    <div class="col-md-4">
	      <div class="step-to-enroll">
	        <div class="circle step-to-enroll-icon">1</div>
	        <h4 class="step-title">Phone Call with HSA Staff</h4>
	        <p class="step-explanation">Expect a phone call from San Francisco HSA. During the call, you will review your application.</p>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="step-to-enroll">
	        <div class="circle step-to-enroll-icon">2</div>
	        <h4 class="step-title">Submit any Other Documents</h4>
	        <p class="step-explanation">You may need to submit other documents regarding residency, income and expenses</p>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="step-to-enroll">
	        <div class="circle step-to-enroll-icon">3</div>
	        <h4 class="step-title">Get Approved and Receive Benefits</h4>
	        <p class="step-explanation">After providing the necessary information, you'll receive monthly benefits to help pay for food and groceries.</p>
	      </div>
	    </div>
	  </div>
	<div class="page-footer">
		<a href="/" class="btn btn-primary form-button-link-solo">Start a new application</a>
	</div>
	<div class="print-visible">
		<br>
		<p class="page-subheader">Success! Hold on to this reciept.</p>
		<h2 class="page-header">You submitted an application for CalFresh in San Francisco.</h2>
		<p class="page-subheader">What's next?</p>
		<p class="page-context">You should receive a phone call from the San Francisco Human Services Agency soon&mdash;about 3 to 5 days.</p>
		<p class="page-subheader">In the meantime</p>
		<p class="page-context">Here's how you can prepare for your interview with HSA:</p>
		<ul class="list">
			<li>Hold on to any verification documents you submitted with this application. It can be helpful to have them available when HSA calls.</li>
			<li>If you think you need to provide documents beyond what you submitted today, try to collect them before your call with HSA. Documents you'll need include those show your income, living expenses, and personal identification. Valid documents include:</li>
				<ul class="list">
					<li>Driver's licenses and passports</li>
					<li>Bank statements</li>
					<li>Lease agreements</li>
					<li>Utility bills</li>
					<li>Government issued ID for each person you included in your application.</li>
				</ul>
		</ul>
		<p class="page-subheader">Don't wait too long</p>
		<p class="page-context">If you don't hear from HSA within a week, call (415) 558-1001 and say you need a phone interview for your CalFresh application.</p>
		<h2 class="page-header"></h2>
		<p class="form-label">Assister or Personal Notes</p>
		</div>
	</div>
</form>
