<form name="confirmation" action="/application/confirmation" method="post" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
	<h2 class="page-header">You're application has been submitted!</h2>
	<p class="page-context">There are a a few more steps before you can receive and use your benefits. Stay in touch with your assister&mdash;they can help you through the rest of the process.</p>
	<p class="homepage-subheader" style="text-align:center">Here's whats next</p>
	  <div class="row steps-to-enroll" style="margin-top: 0; padding-top: 0;">
	    <div class="col-md-4">
	      <div class="step-to-enroll">
	        <div class="circle step-to-enroll-icon">1</div>
	        <h4 class="step-title">Phone Call with HSA Staff</h4>
	        <p class="step-explanation">Expect a phone call from San Francisco HSA. During the call, you will review your application.</p>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="step-to-enroll">
	        <div class="circle step-to-enroll-icon">2</div>
	        <h4 class="step-title">Submit any Other Documents</h4>
	        <p class="step-explanation">You may need to submit other documents regarding residency, income and expenses</p>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="step-to-enroll">
	        <div class="circle step-to-enroll-icon">3</div>
	        <h4 class="step-title">Get Approved and Receive Benefits</h4>
	        <p class="step-explanation">After providing the necessary information, you'll receive monthly benefits to help pay for food and groceries.</p>
	      </div>
	    </div>
	  </div>
	<div class="page-footer">
		<a href="/" class="btn btn-primary form-button-link-solo">Start a new application</a>
	</div>
</form>