<form name="confirmation" action="/application/confirmation" method="post" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
	<h3 class="page-header">You're application has been submitted!</h3>
	<p class="homepage-subheader">There are two more steps&mdash;you can start now.</p>
	<div class="form-group">
		<br>
		<ol>
			<li>
				<p class="form-label">Take photos of your ID, income statements, and proof of residency in SF and email them to the Human Services Agency at <a href="mailto:rminquiries@sfgov.org">rminquiries@sfgov.org.</a></p>
				<p class="form-context">The e-mail can look something like this:</p>
				<div class="well well-lg">
					<p><strong>Email subject line:</strong> Verification documents for <i>[ NAME OF APPLICANT ]</i><br>
						--------------------
					</p>
					<p>
						<strong>Email body:</strong>
						<ul>
							<li>Application date</li>
							<li>Name of applicant </li>
							<li>Applicant date of birth</li>
							<li>Your contact information in case the staff has questions!</li>
						</ul>
						<br>
					</p>
					<p><strong>Attached documents</strong></p>
				</div>
			</li>
			<br>
			<li>
				<p class="form-label">Take a phone call from the Human Services Agency</p>
				<p class="page-context"><b>In the next few days</b>, expect a phone call from SFHSA. Together, you'll walk through the application you submitted, and the documents you've sent in via email. During this conversation, staff will tell you whether or not you've qualified.</p>
			</li>
		</ol>
		<p class="homepage-subheader">Have questions? Don't hesitate to call Jake Solomon and the Clean Assist team at <strong>(510) 206-8727.</strong></p>
		<br>
	</div>
</form>
