<form name="household_question" action="/application/household_question" method="post" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h3>Do you buy and cook food with anyone?</h3>
  <div class="form-group">
    <div class="form-control subheader">
      <p>Calfresh supports nutrition for individuals and families. We need to know if you buy and cook food with anyone else. This includes roommates, adult family members, and children.</p>
    </div>
    <div class="page-footer">
        <a href="/application/additional_household_member" class="btn btn-primary form-button-link-left" autofocus="autofocus">Yes</a>
        <a href="/application/review_and_submit" class="btn btn-primary form-button-link-right">No</a>
    </div>
</form>
<script>
  $('.btn').button()
</script>