<form action="/application/basic_info" method="get" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <div class="homepage-message">
    <h2 class="homepage-headline">You may be eligible for hundreds of dollars in food assistance.</h2>
    <input class="btn next-step" type="submit" value="Start your application" autofocus="autofocus">
    <h3 class="homepage-subheader">Apply online in 10 minutes</h3>
  </div>
  <div class="row steps-to-enroll" style="margin-top: 0; padding-top: 0;">
    <div class="col-lg-4">
      <div class="step-to-enroll">
        <div class="circle step-to-enroll-icon">1</div>
        <h4 class="step-title">Submit online</h4>
        <p class="step-explanation">With Clean Assist, you can apply for CalFresh in under 10 minutes. It's easy. If you have documents on hand, you can send them in with your application.</p>
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="step-to-enroll">
        <div class="circle step-to-enroll-icon">2</div>
        <h4 class="step-title">Take a phone call</h4>
        <p class="step-explanation">After you submit your application, take a quick phone call with Human Services Agency staff, and walk through the details of your case. Clean Assist will help you schedule a time that works for you.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="step-to-enroll">
        <div class="circle step-to-enroll-icon">3</div>
        <h4 class="step-title">Email documents</h4>
        <p class="step-explanation">To receive benefits, you'll need to document your income and expenses. Send in photos of bills, paystubs and other verification documents to finalize your application.</p>
      </div>
    </div>
  </div>
</form>
<style>
  .masthead { text-align: center }
</style>
<script>
  $('.btn').button()
</script>
