<form action="/application/basic_info" method="get" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <div class="homepage-message">
    <h2 class="homepage-headline">We've moved to <a href="http://www.getcalfresh.org">GetCalFresh.org</a></h2>
    <p class="page-context">We will redirect you to the new website in 10 seconds...</p>
  </div>
</form>
<style>
  .masthead { text-align: center }
  .footer { text-align: center;}
</style>
<script>
  $('.btn').button()
</script>
