<form action="/application/basic_info" method="get" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <div class="homepage-message">
    <h2 class="homepage-headline">Get extra money for food and groceries every month</h2>
    <input class="btn next-step start-btn" type="submit" value="Start your application" autofocus="autofocus">
    <p class="page-context">Get started in under 10 minutes</p>
  </div>
  <div class="row steps-to-enroll" style="margin-top: 0; padding-top: 0;">
    <div class="col-md-4">
      <div class="step-to-enroll">
        <div class="circle step-to-enroll-icon">1</div>
        <h4 class="step-title">Apply online</h4>
        <p class="step-explanation">You can apply for CalFresh in under 10 minutes. If you have documents on hand, you can email them into after submitting your application.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="step-to-enroll">
        <div class="circle step-to-enroll-icon">2</div>
        <h4 class="step-title">Take a phone call</h4>
        <p class="step-explanation">Take a quick phone call with Human Services Agency (HSA) staff to review your application.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="step-to-enroll">
        <div class="circle step-to-enroll-icon">3</div>
        <h4 class="step-title">Receive benefits</h4>
        <p class="step-explanation">At providing the necessary information, you'll receive monthly benefits to help pay for food and groceries.</p>
      </div>
    </div>
  </div>
</form>
<style>
  .masthead { text-align: center }
  .footer { text-align: center;}
</style>
<script>
  $('.btn').button()
</script>
