<form id="info_sharing" name="info_sharing" action="/application/info_sharing" method="post" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" data-parsley-validate>
  <h2 class="page-header">Let us care for your case</h2>
  <p class="page-context"><b>With your permission, we will check in on your application and let you know about any issues. We will <i>only</i> use your application information to to make sure your case is processed properly.</p>
  </b></p>
  <div class="form-group">
    <p class="page-context">Specifically, we ask you to agree to release the following information to help us advocate on your behalf:
      <ul class="list">
        <li class="list-item">Your case number</li>
        <li class="list-item">Your current and past application status</li>
        <li class="list-item">Changes to your application status</li>
        <li class="list-item">The reasons for case approval or denial</li>
        <li class="list-item">The content of all submitted documents</li>
      </ul>
    </p>
  </div>
  <div class="page-footer">
    <div class="page-footer-content col-md-4 col-md-offset-8">
      <input class="btn next-step" name="confirmation" type="submit" value="I agree">
    </div>
  </div>
</form>
