<form name="interview" action="/application/interview" method="post" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h3 class="page-header">When do you prefer your interview?</h3>
  <p class="page-context">To enroll in Calfresh, you'll need to be interviewed. During the interview, a Human Services Agency staff will ask you personal questions about your income and expenses.</p>
  <p class="page-context">When would you prefer to be contacted to have your interview? Staff will do their best to contact you during the specified times and days.</p>
  <div class="form-group">
    <div class="times-of-day middle">
      <div class="checkbox time-of-day">
        <label>
          <input type="checkbox" name="early-morning" autofocus="autofocus"> Early morning
        </label>
      </div>
      <div class="checkbox time-of-day">
        <label>
          <input type="checkbox" name="mid-morning"> Mid-morning
        </label>
      </div>
      <div class="checkbox time-of-day">
        <label>
          <input type="checkbox" name="afternoon"> Afternoon
        </label>
      </div>
      <div class="checkbox time-of-day">
        <label>
          <input type="checkbox" name="late-afternoon"> Late afternoon
        </label>
      </div>
    </div>
    <div class="bottom days-of-week">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="monday"> Mon
        </label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" class="day-of-week" name="tuesday"> Tue</label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="wednesday"> Wed
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="thursday"> Thu
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="friday"> Fri
        </label>
      </div>
    </div>
  </div>
  <div class="page-footer">
      <input class="btn next-step" type="submit" value="Next Step">
  </div>
</form>
