<form name="interview" action="/application/interview" method="post" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h3 class="page-header">When should the HSA call you to review your application?</h3>
  <p class="page-context">To enroll in CalFresh, you'll need to speak with HSA staff about your application. During the interview, staff will ask you personal questions about your income and expenses. staff will do their best to contact you at the phone number you provided, during the days and times you choose below.</p>
  <div class="form-group">
    <div class="times-of-day middle">
      <div class="checkbox time-of-day">
        <label class="page-context">
          <input type="checkbox" name="early-morning" autofocus="autofocus"> Early morning
        </label>
      </div>
      <div class="checkbox time-of-day">
        <label class="page-context">
          <input type="checkbox" name="mid-morning"> Mid-morning
        </label>
      </div>
      <div class="checkbox time-of-day">
        <label class="page-context">
          <input type="checkbox" name="afternoon"> Afternoon
        </label class="page-context">
      </div>
      <div class="checkbox time-of-day">
        <label class="page-context">
          <input type="checkbox" name="late-afternoon"> Late afternoon
        </label>
      </div>
    </div>
    <div class="bottom days-of-week">
      <div class="checkbox">
        <label class="page-context">
          <input type="checkbox" name="monday"> Mon
        </label>
      </div>
      <div class="checkbox">
        <label class="page-context">
          <input type="checkbox" class="day-of-week" name="tuesday"> Tue</label>
      </div>
      <div class="checkbox">
        <label class="page-context">
          <input type="checkbox" name="wednesday"> Wed
        </label>
      </div>
      <div class="checkbox">
        <label class="page-context">
          <input type="checkbox" name="thursday"> Thu
        </label>
      </div>
      <div class="checkbox">
        <label class="page-context">
          <input type="checkbox" name="friday"> Fri
        </label>
      </div>
    </div>
  </div>
  <div class="page-footer">
    <div class="page-footer-content col-md-4 col-md-offset-8">
      <input class="btn next-step" type="submit" value="Next Step">
    </div>
  </div>
</form>
