<form name="medical" action="/application/medical" method="post" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h2 class="page-header">Would you like to apply for Medi-Cal?</h2>
  <p class="page-context">If you are eligible for Calfresh, you are also eligible for Medi-Cal. The Medi-Cal  program is a subsidized health insurance benefit. It covers services like doctor's visits, prescription drugs, and preventive care.</p>
  <p class="page-context">If you do not currently have health insurance, it is recommended that you apply for this subsidized coverage.</p>
  <div class="form-group" data-toggle="buttons">
    <div class="col-lg-6 form-button-col">
      <label class="btn form-button">
        <input type="radio" name="yes" id="yes" autocomplete="off" checked>Yes
      </label>
    </div>
    <div class="col-lg-6 form-button-col">
      <label class="btn form-button">
        <input type="radio" name="no" id="no">No
      </label>
    </div>
  </div>
  <div class="page-footer">
    <input class="btn next-step" type="submit" value="Next Step">
  </div>
</form>
<script>
  $('.btn').button()
</script>
