<form id="review_and_submit" name="review_and_submit" action="/application/review_and_submit" method="post" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" data-parsley-validate>
  <h2 class="page-header">Your signature</h2>
  <div class="form-group">
  </div>
  <p class="form-context">After you submit, you'll have the chance to provide documents regarding you identification, income, expenses and other relevant information.</p>
  <div class="page-footer">
      <button id="submit_button" class="btn next-step" type="submit" value="Submit Application" data-loading-text="Sending in your application...">Submit Application</button>
  </div>
</form>
<script>
  $('.btn').button();

  // Switch button to loading state if clicked when the form is valid
  $( "#submit_button" ).click(function() {
    if ($('#review_and_submit').parsley().isValid()) {
      $('#submit_button').button('loading');  
    }
  });
</script>