<!DOCTYPE html>
<html lang="en">
<head>
  <title>Apply for Calfresh in San Francisco</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Bootstrap CSS-->
  <!-- Typekit -->
  <script src="//use.typekit.net/qly2lma.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="masthead">
    <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <p class="brand">Apply for CalFresh in San Francisco, CA</p>
    </div>
  </div>
  <div class="main">
    <%= yield %>
  </div>
  <div class="footer">
    <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="row footer-content">
          <p><b>Need Assistance?</b></p>
          <p>Call (510) 206-8727</p>
          <p>Email <a href="mailto:health-lab@codeforamerica.org">health-lab@codeforamerica.org</a></p>
          <p>CleanAssist.org is a <b><a href="http://codeforamerica.org">Code for America</a></b> project</p>
      </div>
    </div>
  </div>
</body>
</html>
